<form [formGroup]="form">
  <p >
    Strength:
    <input formControlName="strength">
    <input formControlName="strengthModificator" [value]="calculateModificator('strength')">
    <button (click)="addPoint('strength')">+</button>
    <button (click)="subtractPoint('strength')">-</button>
  </p>
  <p >
    Dexterity:
    <input formControlName="dexterity">
    <input formControlName="dexterityModificator" [value]="calculateModificator('dexterity')">
    <button (click)="addPoint('dexterity')">+</button>
    <button (click)="subtractPoint('dexterity')">-</button>
  </p>
  <p >
    Constitution:
    <input formControlName="constitution">
    <input formControlName="constitutionModificator" [value]="calculateModificator('constitution')">
    <button (click)="addPoint('constitution')">+</button>
    <button (click)="subtractPoint('constitution')">-</button>
  </p>
  <p >
    Intellect:
    <input formControlName="intellect">
    <input formControlName="intellectModificator" [value]="calculateModificator('intellect')">
    <button (click)="addPoint('intellect')">+</button>
    <button (click)="subtractPoint('intellect')">-</button>
  </p>
  <p >
    Wisdom:
    <input formControlName="wisdom">
    <input formControlName="wisdomModificator" [value]="calculateModificator('wisdom')">
    <button (click)="addPoint('wisdom')">+</button>
    <button (click)="subtractPoint('wisdom')">-</button>
  </p>
  <p >
    Charisma:
    <input formControlName="charisma">
    <input formControlName="charismaModificator" [value]="calculateModificator('charisma')">
    <button (click)="addPoint('charisma')">+</button>
    <button (click)="subtractPoint('charisma')">-</button>
  </p>
  <p >
    Points left:
    <input formControlName="pointsBuy">
  </p>
</form>

